<a href="https://colab.research.google.com/github/AtharvaPadawale/Credit-Card-Fraud-Detection/blob/main/Credit_card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Credit Card Fraud Detection Model

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# Importing Dataset

credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
# Dataset Information

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
# checking number of missing values in each column

credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# 0 = normal tranasaction
# 1 = fraudulant transaction

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
# Handling unbalanced dataset / separating data for analysis

normal = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
# Statistical Measures for data

normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# Comparing Values for both Transactions

credit_card_data.groupby('Class').mean()

In [ ]:
# Sampling Data Method

# build sample dataset containing similar distribution of normal transactions
# Number of Fraud Transactions-350
# will make same number of Transaction-350

normal_sample_data = normal.sample(n=350) # randomly take 492 data from dataset

In [ ]:
# Concatenating

new_dataset = pd.concat([normal_sample_data, fraud], axis=0)
# axis = 1 = add col wise & 0 = rowwise

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
241764,151171.0,1.906232,-0.376211,-2.158582,0.283866,0.377985,-0.424862,0.018059,-0.032992,1.351229,...,-0.263940,-0.811431,0.090749,-0.141766,-0.064544,-0.078405,-0.038371,-0.011321,94.84,0
245109,152608.0,2.212106,-2.062790,0.110091,-1.596951,-1.818693,1.262849,-2.465317,0.470953,0.053131,...,-0.046410,0.605498,0.055625,-1.437665,-0.305551,0.046583,0.097772,-0.051144,20.47,0
156787,108920.0,1.987135,0.181180,-1.636953,0.769374,0.508407,-0.377291,-0.144620,-0.122352,1.781396,...,-0.123823,0.154061,0.076341,0.583688,0.048624,0.548478,-0.071093,-0.038793,6.99,0
159171,112292.0,-2.014064,0.498440,-1.833356,-1.155998,0.418490,-0.446054,2.838850,-0.872721,0.402942,...,-0.249143,0.939136,-0.742644,0.850429,-0.216621,0.053824,1.049778,0.277459,400.25,0
267121,162622.0,1.797514,-0.714195,-0.898562,0.161340,-0.168603,0.074887,-0.253133,-0.071207,0.882019,...,-0.218213,-0.822013,0.257443,0.107717,-0.550206,0.221155,-0.064316,-0.017115,146.50,0

In [ ]:
new_dataset['Class'].value_counts()

1    492
0    350
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94754.074286,0.102522,-0.011330,-0.044010,0.063145,0.019897,-0.147611,-0.023616,0.053849,-0.054021,...,-0.042288,-0.023754,0.020107,-0.031120,0.05690,-0.045420,-0.027307,-0.034225,0.010952,78.164200
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
# now we can split dataset into two targets

X = new_dataset.drop(columns = 'Class', axis = 1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
241764  151171.0  1.906232 -0.376211 -2.158582  0.283866  0.377985 -0.424862
245109  152608.0  2.212106 -2.062790  0.110091 -1.596951 -1.818693  1.262849
156787  108920.0  1.987135  0.181180 -1.636953  0.769374  0.508407 -0.377291
159171  112292.0 -2.014064  0.498440 -1.833356 -1.155998  0.418490 -0.446054
267121  162622.0  1.797514 -0.714195 -0.898562  0.161340 -0.168603  0.074887
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
241764  0.018059 -0.032992  1.351229  ... -0.093157 -0.263940 -0.811431
245109 -2.465317  0.470953  0.053131  ... -0.401147 -0.046410  0.605498
156787 -0.144620 -0.122352  1.781396  ... -0.165705 -0.123823  0.154061
159171  2.838850 -0.872721  0.402942  ... -0.498528 -0.249143  0.939136
267121 -0.253133 -0.071207  0.882019  ...  0.211954 -0.218213 -0.822013
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
241764  0.090749 -0.141766 -0.064544 -0.078405 -0.038371 -0.011321   94.84
245109  0.055625 -1.437665 -0.305551  0.046583  0.097772 -0.051144   20.47
156787  0.076341  0.583688  0.048624  0.548478 -0.071093 -0.038793    6.99
159171 -0.742644  0.850429 -0.216621  0.053824  1.049778  0.277459  400.25
267121  0.257443  0.107717 -0.550206  0.221155 -0.064316 -0.017115  146.50
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[842 rows x 30 columns]

In [ ]:
print(Y)

241764    0
245109    0
156787    0
159171    0
267121    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 842, dtype: int64

In [ ]:
# Spliting Data into Train & Test Data

# 20% = x-y-TEST
# stratify_function = evenly distributes two classes

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(842, 30) (673, 30) (169, 30)

Model Training

In [ ]:
# Linear_  Regression model - genrally we use LR model for Binary Classification problems

model = LogisticRegression()

In [ ]:
# Training LR model with Training Data

model.fit(X_train, Y_train)

LogisticRegression()

Evaluation of model

In [ ]:
# Accuracy on Traning Data

X_train_prediction  = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Traning data: ', training_data_accuracy)

Accuracy on Traning data:  0.937592867756315

In [ ]:
# Accuracy on Test Data

X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Date: ', test_data_accuracy)

Accuracy score on Test Date:  0.9408284023668639

In [ ]:
# Dataset Information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB